AULIFY_ENV=development
LANDING_PUBLIC_URL=https://aulify.org
WEB_PUBLIC_URL=https://app.aulify.org
API_PUBLIC_URL=https://api.aulify.org

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
