AULIFY_ENV=development
LANDING_PUBLIC_URL=https://aulify.org
WEB_PUBLIC_URL=https://app.aulify.org
API_PUBLIC_URL=https://api.aulify.org
NEXT_PUBLIC_APP_URL=http://127.0.0.1:5173
NEXT_PUBLIC_LANDING_URL=http://127.0.0.1:5174

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
